@(valueForm: Form[model.ValueFormData],values : Seq[model.Value])(implicit request: RequestHeader)
@main() {

    <form id="value-data-form" role="form" action='@routes.ApplicationController.addValue()' method="post" class="form-horizontal" align="center" autocomplete="off">

        <fieldset class="value-fieldset">

            <div class="value-form">
                <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">title</label>
            </div>
            <br/>
            <table align="center" cellspacing="20">
                <tr>
                    <td align="left">
                        <div class="value-form" id="stringValue_field_label">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-value"></span></span>
                                    <strong>stringValue</strong> :
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="value-form" id="stringValue_field_value">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-value"></span></span>
                                    <input type="text" id="stringValue" name="stringValue" value="" placeholder="String Value" class="form-control input-lg" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Add</button>
            </div>

        </fieldset>
    </form>

    <div class="value-display" >
        <fieldset>
            <legend align="center"><h3>Registered Values</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>valueid</th>
                    <th>stringValue</th>
                </tr>
                @for(value <- values){
                    <tr>
                        <td>@value.id</td>
                        <td>@value.stringValue</td>
                        <td><a href="@routes.ApplicationController.deleteValue(value.id)">delete</a></td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>

}